<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
		
		<bean id="cronofyJerseyClientBuilder"
			  class="org.biacode.jcronofy.api.configuration.impl.CronofyJerseyClientBuilderImpl"/>
		
				<bean id="cronofyJerseyClient" factory-bean="cronofyJerseyClientBuilder" factory-method="build"/>
		
				<bean id="cronofyClient" class="org.biacode.jcronofy.api.client.impl.CronofyClientImpl">
				<constructor-arg name="client" ref="cronofyJerseyClient"/>
		</bean>
		
</beans>